$blue: #324157;
$themeBlue: #357ced;
$light-blue: #3A71A8;
$darkBlue: #263240;
$red: #f56c6c;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

//sidebar
$sidebarWord: #ffffff;
$menuBg: #2d3a4b;
$subMenuBg: #3a4c64;
$menuHover: #357ced;
$mengHoverWord: #ffffff;

// main-container 
$mainBg: #f6f7fa;
// table
$themeColor: #f6faff;
$borderColor: #efefef;
$thinBorderColor: #f8f7f8;
// word
$black: #4a4a4a;
$normal: #666666;
$grey: #888888;
$thinGrey: #9b9b9b;